body{
	width: 1900px;
	font-size: 18px;
	margin: 0;
	font-family: arial;
	background-color: #fff;
}
#header{
	width: 1900px;
	height: 200px;
	background-image: url(../img/cover.jpg);

}

#header h1{
	margin: 0px;
    padding: 60px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#menu #menubar{
	margin: 0px;
	height: 700px;
	width: 300px;
	float: left;
	box-sizing: border-box;
	background-color:rgb(192,192,192);

}
#menu #menubar #ul1 a{
	color: white;
	font-size: 25px;
	padding: 10px 10px;
	text-decoration: none;
	line-height:30px;
	color:red;
	background:tan;
	display:block;
	border-bottom:1px solid black;
}
#menu #menubar #ul1 li {
	background-color: rgb(79,78,77);
	padding: 10px 10px;

}
#menu #menubar #ul1 .home {
	background-color: green;

	
}
#menu #menubar #ul1 .home b{
	color:goldenrod;
}
#menu #menubar ul {
	padding: 5px 5px;
	color: white;
	list-style: none;
	font-size: 25px;
	margin: 0;
	padding: 0;
}


#menu #menubar ul li a{
	color: white;
	font-size: 15px;
	text-decoration: none;
}



#menu #menubar #ul2 li a{
	font-size: 25px;
	padding: 0px 20px;
}
#menu #menubar #ul2 ul li a{
	color:palevioletred;
	font-size: 18px;
}
#menu #menubar #ul2 #red{
	color: red;
}
#menu #menubar #ul2 #red1{
	color: blue;
}
#menu #login b{
	color: white;
	font-size: 20px;
	margin: 20px 10px;
}

#menu #login {
	color: white;
	font-size: 10px;
	margin: 10px;

}
#menu #login button {
	background-color: white;
	border-radius: 20px;
	padding: 5px 5px; margin: 5px 30px;

}
#menu #login button b{
	color: red;
}


#menu #login a{
	color: yellow 	;
	font-size: 20px;

}
#bodymain{
	height: 700px;
	width: 1600px;
	float: left;
	box-sizing: border-box;
	padding: 0px 10px;
}

#bodymain ul{
	list-style: none;
}

#bodymain .dong1{
	background-color: #00CC33;
	text-align: center;
}

#bodymain table tr td{
	padding: 5px;
}

#footer {
	background-color: #000066;
	width: 1900px;
	height: 50px;
	float: left;
	text-align: center;
}

#footer p{
	color: #6699FF;

}

#footer span{

	color: white;
}
.err {
	color: red;
	
}